In [16]:
# import os

# import pandas

# df = pandas.read_csv(os.path.join(os.getcwd(),"WorldCupPlayers.csv"))print(df)

# events = list(df["Event"].values)

# events = [event for event in events if isinstance(event,str)]

# split_events = [event.split("") 
#     for event in events]

# parsed_events = []

# # {"goals": [12, 15], "yellows": [1, 90], ...}
# for split_event in split_events:
#    parsed_event = {}
  
# for event in split_event:
#     cleaned_event = event.replace("'","")

# try:
#     character = cleaned_event[0]
#     minutes = int(cleaned_event[1:-1])

# if character == "G":
#     if "goals" not in parsed_event:
#         parsed_event["goals"] = []


               
# parsed_event["goals"].append(minutes)

           
# if character == "Y":
#     if "yellow" not in parsed_event:
#         parsed_event["yellow"] = []

               
# parsed_event["yellow"].append(minutes)

# except:
#     pass


   
# print(parsed_event)


   
# parsed_events.append(parsed_events)

In [92]:
import pandas as pd
import numpy as np
import fnmatch as fnm

df_players = pd.read_csv('C:\\Users\\luis1\\OneDrive\\Documents\\Learning\\WorldCupPlayers.csv')

df_players.tail(5)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [18]:
#expands one columns into multiple columns using split

# player_expand= df_players['Event'].str.split(" ", expand=True)

# df_players = pd.concat([df_players, player_expand], axis=1)

# df_players

In [93]:
#split column into multiple rows
df_players= df_players.join(df_players['Event'].str.split(' ', expand=True).stack().reset_index(level=1, drop=True).rename('Facts'))

In [ ]:
df_players

In [94]:
df_players['Goal'] = df_players['Facts'].str.startswith(('G', 'P'), False)

df_players['Facts'] = df_players['Facts'].str.replace("'", '')

In [100]:
#example for counting number of goals per player per match | true_count = df[df['goal']].groupby(['player', 'match']).size().reset_index(name='goal_count')

#df_players['Goal_Count'] = df_players.groupby(['Facts', 'MatchID', 'Player Name'])['Goal'].transform('sum')

df_players['EventID'] = df_players['MatchID'].astype('str') + '-' + df_players['Facts']

df_players.tail(5)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Facts,Goal,EventID
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN,NaN,False,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65',IH46,False,300186501-IH46
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65',Y65,False,300186501-Y65
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN,NaN,False,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN,NaN,False,NaN

In [107]:
# df_players['Event Minute'] = 
#     if df_players['Facts'] = null:
#     return 0
#     else: df_players['Facts'].str.extract(r'(\d+)').astype(int)

# df_players.tail(50)

SyntaxError: invalid syntax (3284752275.py, line 2)

In [ ]:
#counts number of goals grouped by matchID and player
# goal_count = df_players[df_players['Goal']].groupby(['Player Name', 'MatchID']).size().reset_index(name='goal_count')
# print(goal_count.tail(50))

In [21]:
# def player_goal_check(row):
#     if row['0'].str.startswith('G', False):
#         return True
    
#     elif row['1'].str.startswith('G', False):
#         return True
    
#     elif row['2'].str.startswith('G', False):
#         return True
    
#     elif row['3'].str.startswith('G', False):
#         return True
    
#     elif row['4'].str.startswith('G', False):
#         return True
    
#     else: ''

# df_players['Player']





# def team_check(row):
#     if row['Home_Team_Goals'] > row['Away_Team_Goals']:
#         return row['Home_Team']
    
#     elif row['Home_Team_Goals'] < row['Away_Team_Goals']:
#         return row['Away_Team'] 

#     elif row['Away_Team'] in row['Win_Conditions']:
#         return row['Away_Team']
    
#     elif row['Home_Team'] in row['Win_Conditions']:
#         return row['Home_Team']

#     else: ''

# df_matches_new['Winner'] = df_matches_new.apply(team_check, axis = 1)

# df_matches_new.tail(10)

In [22]:
# #define string to keep together in same column
# string_keep = ['G']

# #split column and create separate columns for values containing 'G' which stands for Goals
# df_players['Goals'] = np.where(df_players['Event'].str.contains('G'), df_players['Event'], np.nan)
# df_players['Other'] = np.where(df_players['Event'].str.contains('G'), np.nan, df_players['Event'])

# df_players

In [23]:
df_players.to_csv(r'C:\Users\luis1\OneDrive\Documents\Learning\Python-VSCode\WorldCupPlayers_df.csv')